.paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
}

.paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
    cursor: pointer;
}

.paginationBttns a:hover {
    color: black;
    background-color: #D0D0D0;
}

.paginationActive a {
    color: black;
    background-color: #D0D0D0;
}

th {
    font-size: x-large;
    cursor: pointer;
}

tr {
    cursor: pointer;
}

h2 {
    text-align: center;
}